header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    position: sticky; top: 0;
}
footer {
    font-size: 60px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline; 
    margin: 0 15px;
}

nav a {
    color: #58a6ff;
    text-decoration: none;
}